* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
}

button:hover {
  cursor: pointer;
}

.body {
  padding: 0 20px;
}

.header {
  z-index: 999;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 20px;
  font-family: Poppins, sans-serif;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.header.border-on-scroll {
  border: 1px solid #e5e7eb;
  box-shadow: 0 1px #e5e7eb;
}

.logo {
  align-items: center;
  padding: 0 8px;
  display: flex;
}

.logo:hover {
  cursor: pointer;
}

.logo span {
  letter-spacing: 3px;
  opacity: 1;
  color: #111827;
  font-size: 21px;
  font-weight: 500;
}

.logo-icon {
  width: 52px;
  height: 52px;
  margin: 0 10px 0 0;
}

.navigations {
  width: 1000px;
  font-size: 20px;
}

.navigations span {
  color: #4b5563;
  width: 600px;
  margin: 10px;
  padding: 12px;
  font-size: 21px;
}

.btn-img {
  position: relative;
}

.btn-icons {
  width: 30px;
  height: 30px;
  margin: 10px 10px 2px 5px;
  position: absolute;
}

.navigations button {
  color: #fff;
  background: #1a56db;
  border: none;
  border-radius: 10px;
  padding: 15px 20px 15px 40px;
  font-size: 18px;
  font-weight: 500;
}

#dashboard {
  color: #3f83f8;
  padding: 15px 0 15px 15px;
}

.theme-btn button {
  background-color: #e5e7eb;
  border: none;
  border-radius: 10px;
  padding: 6px 8px;
}

.theme-btn button img {
  width: 35px;
  height: 35px;
}

.navigations span:hover {
  color: #3f83f8;
  cursor: pointer;
}

.btn-img button:hover {
  background-color: #214491;
}

.main-body {
  justify-content: space-between;
  margin: 350px 0 180px;
  display: flex;
}

.tag-line {
  width: 830px;
  margin-top: 70px;
}

.tag-line text {
  height: 80px;
  font-size: 7rem;
  font-weight: 600;
  display: block;
}

#bluetext {
  color: #1a56db;
}

.tag-line p {
  margin: 80px 0 0;
  font-size: 20px;
  font-weight: 300;
}

.tag-line button {
  text-align: center;
  color: #fff;
  background: #1a56db;
  border: none;
  border-radius: 10px;
  width: 200px;
  margin: 20px 10px 20px 0;
  padding: 18px 0 18px 30px;
  font-size: 20px;
}

.graph {
  width: 800px;
  height: 500px;
}

.tag-line .btn-icons {
  width: 30px;
  height: 30px;
  margin: 34px 2px 2px 12px;
  position: absolute;
}

#discord-btn {
  background-color: #374151;
  width: 180px;
}

#join-btn {
  background-color: #374151;
  width: 230px;
}

#discord-btn:hover, #join-btn:hover {
  background-color: #2c313b;
}

.company-images {
  opacity: .2;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
}

.company-images img {
  height: 50px;
  margin: 100px 120px;
}

#yahoo {
  height: 200px;
  margin: 0 0 0 1150px;
  position: absolute;
}

.trading-info {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
  display: flex;
}

.info {
  padding: 100px 20px;
}

.info text {
  color: #000;
  padding-top: 0 0 100px 0;
  height: 300px;
  font-size: 43px;
  font-weight: 700;
}

.info p {
  margin-top: 45px;
  font-size: 20px;
  font-weight: 300;
  line-height: 33px;
}

.blocks {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 130px;
  display: flex;
}

.single-block {
  border: 1px solid #e5e7eb;
  border-radius: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 49%;
  height: 400px;
  margin: 10px 5px;
  padding: 30px;
  display: flex;
}

.single-block:hover {
  border: 1px solid #3f83f8;
}

.single-block img {
  width: 110px;
  height: 110px;
}

.single-block h1 {
  margin-top: 15px;
  font-weight: 700;
}

.single-block p {
  text-align: center;
  color: #4b5563;
  margin-top: 20px;
  font-size: 21px;
  font-weight: 300;
}

.trading-option {
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
  display: flex;
}

.list1 {
  background-color: #e5e7eb;
  border-radius: 15px;
  justify-content: space-around;
  width: 350px;
  margin-bottom: 15px;
  display: flex;
}

.selected {
  color: #fff;
  background-color: #1c64f2;
}

.list1 li {
  border: none;
  border-radius: 10px;
  margin: 15px;
  padding: 15px 20px;
  font-size: 22px;
  font-weight: 500;
  list-style: none;
}

.list2 {
  background-color: #e5e7eb;
  border-radius: 15px;
  justify-content: space-around;
  width: 600px;
  display: flex;
}

.list2 li {
  border: none;
  border-radius: 10px;
  margin: 15px 0;
  padding: 15px;
  font-size: 22px;
  font-weight: 500;
  list-style: none;
}

.tab-headings {
  justify-content: space-between;
  display: flex;
}

.heading1 {
  text-align: center;
  justify-content: space-between;
  width: 970px;
  margin-right: 30px;
  display: flex;
}

.heading1 hr {
  background-color: #9ca3af;
  width: 380px;
  height: 1px;
  margin: 60px 20px;
  padding: 0 20px;
}

.heading1 h4 {
  color: #6b7280;
  font-size: 45px;
}

.heading2 {
  text-align: center;
  justify-content: space-between;
  margin-left: 10px;
  display: flex;
}

.heading2 hr {
  background-color: #9ca3af;
  width: 200px;
  height: 1px;
  margin: 60px 20px;
  padding: 0 20px;
}

.heading2 h4 {
  color: #6b7280;
  height: 50px;
  font-size: 45px;
}

.tables {
  justify-content: space-between;
  display: flex;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px;
  font-size: 25px;
}

.tab1 {
  width: 975px;
}

.tab1 th {
  text-align: justify;
  width: 200px;
  padding: 10px;
  font-size: 35px;
  font-weight: 600;
}

.tab1 tbody {
  background-color: #f9fafb;
  width: 975px;
}

tr:hover {
  background-color: #e5e7eb;
  border-radius: 10px;
}

td {
  text-align: justify;
  padding: 20px;
  font-weight: 500;
}

.tab1 td {
  width: 240px;
}

.tab1 .col1 {
  width: 480px;
}

.tab2 {
  width: 650px;
}

.t2col1 {
  width: 400px;
}

.tab2 th {
  text-align: justify;
  width: 200px;
  padding: 10px;
  font-size: 35px;
  font-weight: 600;
}

.tab2 tbody {
  background-color: #f9fafb;
  width: 650px;
}

#orange {
  color: #f5cd7c;
}

#green {
  color: #52b696;
}

#voilet {
  color: #8560e4;
}

.tab2 button {
  text-align: center;
  color: #3f83f8;
  background-color: #fff;
  border: 3px solid #3f83f8;
  border-radius: 10px;
  width: 600px;
  margin: 20px;
  padding: 20px 40px;
  font-size: 24px;
  font-weight: 500;
  position: relative;
}

.tab2 button img {
  width: 30px;
  height: 30px;
  padding-top: 5px;
  padding-left: 3px;
  position: absolute;
}

.deal-offer {
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
  display: flex;
}

.deal-offer .btn-img button {
  color: #fff;
  background: #1a56db;
  border: none;
  border-radius: 10px;
  padding: 25px 70px;
  font-size: 18px;
}

.deal-offer .btn-img .btn-icons {
  width: 40px;
  height: 40px;
  margin: 15px 1px 0 28px;
  position: absolute;
  right: 190px;
}

.deal-offer #dollar {
  vertical-align: super;
  color: #1c64f2;
  font-size: 20px;
}

.deal-offer #number {
  color: #1c64f2;
  font-size: 60px;
  font-weight: 800;
}

.deal-offer #amount {
  color: #1c64f2;
  font-size: 18px;
}

.deal-offer div {
  padding: 0 10px;
}

.objectives {
  opacity: .8;
  background-color: #2e3bef;
  border-radius: 45px;
  justify-content: space-between;
  margin-bottom: 120px;
  display: flex;
}

#trade-obj-img {
  width: 830px;
  height: 530px;
  margin-bottom: 100px;
  padding: 100px 20px 0;
}

.objectives section h2 {
  color: #fff;
  padding: 170px 15px 40px 30px;
  font-size: 40px;
}

.objectives section p {
  color: #d1d5db;
  padding: 0 15px 30px 30px;
  font-size: 20px;
  font-weight: 200;
  line-height: 30px;
}

.objectives .btn-img button {
  text-align: center;
  color: #1e1e1e;
  background: #f3f4f6;
  border: none;
  border-radius: 10px;
  width: 200px;
  margin: 20px;
  padding: 18px 20px 18px 30px;
  font-size: 18px;
}

.objectives .btn-img .btn-icons {
  width: 35px;
  height: 35px;
  margin: 30px 1px 0 28px;
  position: absolute;
  right: 175px;
}

.objectives .btn-img button:hover {
  background-color: #f3f4f6db;
}

.join-team {
  opacity: .8;
  background-color: #2e3bef;
  border-radius: 45px;
  margin-bottom: 120px;
}

.join-team h2 {
  color: #fff;
  padding: 40px 40px 25px;
  font-size: 40px;
}

.join-team p {
  color: #d1d5db;
  padding: 0 40px 25px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

.join-team .btn-img button {
  text-align: center;
  color: #fff;
  background: #135eff;
  border: none;
  border-radius: 10px;
  width: 200px;
  margin: 20px 0 50px 40px;
  padding: 18px 0 18px 30px;
  font-size: 18px;
}

.join-team .btn-img .btn-icons {
  width: 30px;
  height: 30px;
  margin: 35px 20px 0 55px;
  position: absolute;
}

.footer {
  border-top: 1px solid #e5e7eb;
  justify-content: space-between;
  display: flex;
}

.grid {
  padding: 20px 0 20px 20px;
}

.grid1 {
  width: 49%;
  padding: 20px 0 20px 20px;
}

.grid1 p {
  color: #9ca3af;
  letter-spacing: .5px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 19px;
  line-height: 25px;
}

.grid1 .imp {
  padding-top: 0;
  padding-bottom: 10px;
  font-weight: 600;
}

.signup {
  background-color: #f3f4f6;
  border-radius: 25px;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  margin-top: 20px;
  margin-bottom: 25px;
  display: flex;
  position: relative;
}

.signup text {
  padding: 50px 100px 50px 20px;
  font-size: 27px;
  font-weight: 700;
}

.links {
  justify-content: flex-start;
  display: flex;
}

.links ul {
  width: 400px;
  margin-bottom: 200px;
  list-style: none;
}

.links .clr-li {
  color: #1c64f2;
  font-size: 18px;
  font-weight: 700;
}

.links ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.links .clr-li:hover {
  cursor: auto;
  text-decoration: none;
}

.links ul li {
  color: #6b7280;
  padding: 15px 0;
  font-size: 20px;
}

#signup-input {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  margin-right: 20px;
  padding: 20px 40px;
  font-size: 18px;
}

#input-btn {
  color: #fff;
  cursor: pointer;
  background-color: #1a56db;
  border: none;
  border-radius: 10px;
  padding: 0 12px;
  position: absolute;
  top: 45px;
  right: 40px;
}

#input-btn:hover {
  background-color: #214491;
}

#input-btn-img {
  width: 40px;
  height: 40px;
}

.copy-rights {
  text-align: center;
  background-color: #f3f4f6;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-bottom: 40px;
  display: flex;
}

.copy-rights text {
  color: #6b7280;
  padding: 30px 20px;
  font-size: 18px;
}

.copy-rights text img {
  width: 18px;
  height: 13px;
}

.grid1 .about-company .round-button {
  cursor: pointer;
  background-color: #f3f4f6;
  border: none;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: 17px 5px;
  overflow: hidden;
}

.grid1 .about-company .round-button img {
  object-fit: cover;
  width: 60%;
  height: 60%;
}
/*# sourceMappingURL=index.75a90472.css.map */
